body {

    background-color: #145014;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.cena {

    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.body {

    position: relative;
    width: 700px;
    height: 500px;
    right: 0;
    top: 122px;
    display: inline-block;

    &:before {

        content: "Boas festas";
        position: absolute;
        left: 170px;
        right: 0;
        color: #fff;
        text-align: center;
        z-index: 9;
        top: -105px;
        font-size: 5em;
        margin: 0 auto;
        font-family: 'Lobster', cursive;
    }

    &:after {

        content: "E um feliz 2018";
        position: absolute;
        left: 305px;
        color: #fff;
        margin: 0 auto;
        z-index: 9;
        font-size: 2em;
        top: -5px;
        right: 0;
        text-align: center;
    }
}

.arm {

    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 0 175px 0 0;
    right: -40px;
    top: -3px;
    background-color: #e53935;

    &.left {

        right: auto;
        left: 5px;
        top: 185px;
        transform: rotate(175deg);

        &:before {

            background-color: #145014;
        }
    }

    &:before {

        content: "";
        position: absolute;
        width: 144px;
        height: 150px;
        border-radius: 0 110px 0 0;
        top: 75px;
        left: -41px;
    }
}

.hand {

    content: "";
    position: absolute;
    width: 95px;
    height: 135px;
    background-color: #f9ce1d;
    border-radius: 0 0 55px 55px;
    top: 198px;
    left: 105px;

    &:after {

        width: 35px;
        height: 35px;
        position: absolute;
        content: "";
        background-color: #f9ce1d;
        transform: rotate(37deg);
        top: 30px;
        left: -20px;
        border-radius: 118%;
    }

    &:before {

        background-color: #fff;
        width: 107px;
        height: 30px;
        content: "";
        position: absolute;

    }
}

.hat {

    position: absolute;
    left: 267px;

    &:before {

        width: 70px;
        height: 70px;
        position: absolute;
        content: "";
        background-color: #fff;
        left: -80px;
        top: -35px;
        border-radius: 100%;
    }

    &:after {

        content: "";
        left: -40px;
        border: 1px solid #fff;
        position: absolute;
        height: 65px;
        right: -40px;
        margin: 0 auto;
        border-radius: 15px;
        background-color: #fff;
        width: calc(100% + 60px);
        z-index: 2;
    }
}

.wrapper-hat {

    width: 190px;
    height: 70px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    overflow: hidden;
}

.curve-hat {

    display: block;
    width: 126px;
    height: 265px;
    background-color: #e53935;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: rotate(-65deg);
    position: absolute;
    z-index: 3;
    top: -56px;
    left: 24px;
}

.face {

    left: 275px;
    position: absolute;
    top: 175px;
}

.wrapper-face {

    width: 230px;
    height: 230px;
    content: "";
    left: -20px;
    position: absolute;
    top: -100px;
    border-radius: 100%;
    background-color: #f1c4a7;

    &:before {

        width: 60px;
        height: 60px;
        position: absolute;
        left: -19px;
        top: 59px;
        content: "";
        border-radius: 100%;
        background-color: #ef9a9a;
        z-index: -1;
    }

    &:after {

        width: 60px;
        height: 60px;
        position: absolute;
        right: -19px;
        top: 59px;
        content: "";
        border-radius: 100%;
        background-color: #ef9a9a;
        z-index: -1;
    }

    .eye {

        width: 17px;
        height: 17px;
        content: "";
        position: absolute;
        background-color: #000;
        left: 50px;
        top: 67px;
        border-radius: 100%;

        &.eye-right {

            right: 50px;
            left: auto;
        }
    }
}

.barba {

    content: "";
    position: absolute;
    display: block;
    float: none;
    z-index: auto;
    width: 16em;
    height: 16em;
    overflow: visible;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    background-color: #fff;
    transform: rotate(-115deg) scaleX(1) scaleY(1) scaleZ(1);
    transform-origin: 50% 50% 0;
    left: -50px;
    top: -22px;

    &:before {

        content: "";
        right: 30px;
        position: absolute;
        width: 230px;
        height: 230px;
        z-index: 9;
        top: 37px;
    }

    &:after {

        content: "";
        left: 185px;
        position: absolute;
        width: 55px;
        height: 36px;
        border-radius: 100%;
        transform: rotate(-65deg);
        top: 171px;
        left: 185px;
        background-color: #ef9a9a;
    }
}

.mouth {

    width: 35px;
    height: 30px;
    position: absolute;
    content: "";
    left: 83px;
    top: 29px;
    overflow: hidden;

    &:after {

        width: 30px;
        height: 30px;
        border-radius: 100%;
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        background-color: #212121;
        top: -15px;

    }
}

.barriga {

    background-color: #e53935;
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    bottom: -170px;
    z-index: -1;
    left: 155px;
    overflow: hidden;

    &:after {

        width: 100%;
        height: 30px;
        content: "";
        left: 0;
        position: absolute;
        vertical-align: middle;
        top: 55%;
        background-color: #212121;
    }

    &:before {

        width: 90px;
        height: 30px;
        content: "";
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        z-index: 8;
        top: 55%;
        background-color: #f9ce1d;
    }

}

.hand-right {

    background-color: #f9ce1d;
    width: 120px;
    height: 120px;
    content: "";
    position: absolute;
    border-radius: 100%;
    z-index: 2;
    right: 100px;
    bottom: 110px;

    &:before {

        border-bottom: 65px solid #876e63;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        height: 0;
        width: 23px;
        position: absolute;
        left: 10px;
        bottom: -10px;
        content: "";
        transform: rotate(37deg);
    }
}

.arm-right {

    position: absolute;
    content: "";
    width: 95px;
    height: 200px;
    right: 70px;
    bottom: -10px;
    transform: rotate(-24deg);
    border-radius: 50px;
    background: #e53935;

    &:before {

        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-right-width: 35px;
        border-left-width: 4px;
        border-bottom: 65px solid #c7322e;
        transform: rotate(23deg);
        z-index: 1;
        bottom: 63px;
        left: -24px;
    }
}

.bag {

    width: 320px;
    height: 320px;
    position: absolute;
    content: "";
    border-radius: 100%;
    right: 30px;
    bottom: -27px;
    background-color: #876e63;
    z-index: -2;
}

.arvore {

    position: absolute;
    right: 0;
    content: "";
    width: 390px;
    height: 570px;
    top: 0;
}

.triangulo-arvore1 {

    width: 160px;
    height: 130px;
    border-bottom: solid 160px #8bc34a;
    border-left: solid 160px transparent;
    border-right: solid 160px transparent;
    position: absolute;
    bottom: 85px;

    &:after {

        width: 40px;
        height: 40px;
        background-color:  #ffdc64;
        border-radius: 100%;
        content: "";
        position: absolute;
        top: 85px;
        left: -125px;
        z-index: 8;
    }

    &:before {

        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #e6646e;
        content: "";
        position: absolute;
        left: -120px;
        top: -5px;
    }
}

.triangulo-arvore2 {

    width: 160px;
    height: 130px;
    border-bottom: solid 340px #8bc34a;
    border-left: solid 160px transparent;
    border-right: solid 160px transparent;
    position: absolute;
    bottom: 145px;

    &:after {

        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #ffdc64;
        content: "";
        position: absolute;
        top: 110px;
        left: -50px;
    }

    &:before {

        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #ffdc64;
        content: "";
        position: absolute;
        top: 250px;
        right: -85px;
    }
}

.triangulo-arvore3 {

    width: 160px;
    height: 130px;
    border-bottom: solid 265px #8bc34a;
    border-left: solid 140px transparent;
    border-right: solid 140px transparent;
    position: absolute;
    bottom: 280px;
    left: 20px;

    &:after {

        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #e66e6e;
        content: "";
        position: absolute;
        top: 110px;
        left: -70px;
        z-index: 2;
    }

    &:before {

        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #e66e6e;
        content: "";
        position: absolute;
        top: 250px;
        right: -95px;
    }
}

.shadow1 {

    border: 1px solid red;
    position: absolute;
    content: "";
    left: -45px;
    bottom: -295px;
    z-index: 1;
    width: 0;
    border-style: solid;
    border-width: 0px 142px 30px 0px;
    border-color: transparent #365229 transparent transparent;


    &:after {

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 0 0 14px;
        border-color: transparent transparent transparent #365229;
        content: "";
        position: absolute;
        right: -156px;
    }
}

.shadow2 {

    position: absolute;
    content: "";
    left: -106px;
    bottom: -370px;
    z-index: 1;
    width: 0;
    border-style: solid;
    border-width: 0px 194px 30px 13px;
    border-color: transparent #365229 transparent transparent;


    &:after {

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 0 0 30px;
        border-color: transparent transparent transparent #365229;
        content: "";
        position: absolute;
        right: -224px;
    }
}

.presente {

    bottom: 0;
    position: absolute;

     &:after {

        width: 20px;
        height: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
        content: "";
        position: absolute;
    }

    .tampa {

        position: absolute;
        box-shadow: -2px 5px 4px 0px rgba(56, 56, 56, 0.2784313725490196);
        z-index: 2;
    }
}

.presente1 {

    width: 140px;
    height: 60px;
    left: 15px;
    background-color: #b20a17;

    &:after {

        background-color: #e5be59;
    }

    .tampa1 {

        left: -7px;
        top: -25px;
        height: 25px;
        width: 155px;
        background-color: #C22B0E;

        &:after {

            width: 20px;
            height: 25px;
            background-color: #ecb656;
            position: absolute;
            content: "";
            margin: 0 auto;
            left: 0;
            right: 0;
        }
    }
}

.presente2 {

    width: 140px;
    height: 105px;
    left: 265px;
    background-color: #b20a17;

    &:after {

        background-color: #e5be59;
    }

    .tampa2 {

        left: -7px;
        top: -25px;
        height: 25px;
        width: 155px;
        background-color: #C22B0E;
        box-shadow: -2px 5px 4px 0px rgba(56, 56, 56, 0.2784313725490196);

        &:after {

            width: 20px;
            height: 25px;
            background-color: #ecb656;
            position: absolute;
            content: "";
            margin: 0 auto;
            left: 0;
            right: 0;
        }
    }
}

.presente3 {

    width: 140px;
    height: 125px;
    left: 152px;
    z-index: 2;
    background-color: #ffb128;

    &:after {

        background-color: #c22b0e;
    }

    .tampa3 {

        left: -7px;
        top: -25px;
        height: 25px;
        width: 155px;
        background-color: darken(#e9b955, 15%);
        box-shadow: -2px 5px 4px 0px rgba(56, 56, 56, 0.2784313725490196);

        &:after {

            width: 20px;
            height: 25px;
            background-color: #c22b0e;
            position: absolute;
            content: "";
            margin: 0 auto;
            left: 0;
            right: 0;
        }
    }
}

.laco-1 {

    position: absolute;
    content: "";
    bottom: 25px;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 30px;
    width: 85%;

    &:before {

        width: 22px;
        height: 20px;
        content: "";
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        background-color: #b1270d;
        top: 9px;
        z-index: 9;
        border-radius: 5px;
    }

    .laco1 {

        display: block;
        z-index: auto;
        width: 2em;
        height: 4em;
        content: "";
        overflow: visible;
        border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
        position: relative;
        background-color: #c2280e;
        transform: rotate(-125deg) scaleX(1) scaleY(1) scaleZ(1);
        transform-origin: 50% 50% 0;
        left: 90px;
        top: -22px;

        &:after {

            display: block;
            z-index: auto;
            width: 1em;
            height: 3em;
            content: "";
            overflow: visible;
            border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
            position: relative;
            background-color: #8bc34a;
            transform: rotate(0deg) scaleX(1) scaleY(1) scaleZ(1);
            transform-origin: 50% 50% 0;
            left: 7px;
            top: 9px;
        }
    }

    .laco2 {

        display: block;
        z-index: auto;
        width: 2em;
        height: 4em;
        content: "";
        overflow: visible;
        border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
        position: relative;
        background-color: #c2280e;
        transform: rotate(-264deg) scaleX(1) scaleY(1) scaleZ(1);
        transform-origin: 50% 50% 0;
        left: 11px;
        top: -86px;

        &:after {

            display: block;
            z-index: auto;
            width: 1em;
            height: 3em;
            content: "";
            overflow: visible;
            border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
            position: relative;
            background-color: #8bc34a;
            transform: rotate(0deg) scaleX(1) scaleY(1) scaleZ(1);
            transform-origin: 50% 50% 0;
            left: 7px;
            top: 9px;
        }
    }
}

.laco-2 {

    position: absolute;
    content: "";
    bottom: 25px;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 30px;
    width: 85%;

    &:before {

        width: 22px;
        height: 20px;
        content: "";
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        background-color: #b1270d;
        top: 9px;
        z-index: 9;
        border-radius: 5px;
    }

    .laco1 {

        display: block;
        z-index: auto;
        width: 2em;
        height: 4em;
        content: "";
        overflow: visible;
        border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
        position: relative;
        background-color: #b18941;
        transform: rotate(-125deg) scaleX(1) scaleY(1) scaleZ(1);
        transform-origin: 50% 50% 0;
        left: 90px;
        top: -22px;

        &:after {

            display: block;
            z-index: auto;
            width: 1em;
            height: 3em;
            content: "";
            overflow: visible;
            border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
            position: relative;
            background-color: #145014;
            transform: rotate(0deg) scaleX(1) scaleY(1) scaleZ(1);
            transform-origin: 50% 50% 0;
            left: 7px;
            top: 9px;
        }
    }

    .laco2 {

        display: block;
        z-index: auto;
        width: 2em;
        height: 4em;
        content: "";
        overflow: visible;
        border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
        position: relative;
        background-color: #b18941;
        transform: rotate(-264deg) scaleX(1) scaleY(1) scaleZ(1);
        transform-origin: 50% 50% 0;
        left: 11px;
        top: -86px;

        &:after {

            display: block;
            z-index: auto;
            width: 1em;
            height: 3em;
            content: "";
            overflow: visible;
            border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
            position: relative;
            background-color: #145014;
            transform: rotate(0deg) scaleX(1) scaleY(1) scaleZ(1);
            transform-origin: 50% 50% 0;
            left: 7px;
            top: 9px;
        }
    }
}

.laco-3 {

    position: absolute;
    content: "";
    bottom: 25px;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 30px;
    width: 85%;

    &:before {

        width: 22px;
        height: 20px;
        content: "";
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        background-color: #b1270d;
        top: 9px;
        z-index: 9;
        border-radius: 5px;
    }

    .laco1 {

        display: block;
        z-index: auto;
        width: 2em;
        height: 4em;
        content: "";
        overflow: visible;
        border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
        position: relative;
        background-color: #b18941;
        transform: rotate(-125deg) scaleX(1) scaleY(1) scaleZ(1);
        transform-origin: 50% 50% 0;
        left: 90px;
        top: -22px;

        &:after {

            display: block;
            z-index: auto;
            width: 1em;
            height: 3em;
            content: "";
            overflow: visible;
            border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
            position: relative;
            background-color: #8bc34a;
            transform: rotate(0deg) scaleX(1) scaleY(1) scaleZ(1);
            transform-origin: 50% 50% 0;
            left: 7px;
            top: 9px;
        }
    }

    .laco2 {

        display: block;
        z-index: auto;
        width: 2em;
        height: 4em;
        content: "";
        overflow: visible;
        border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
        position: relative;
        background-color: #b18941;
        transform: rotate(-264deg) scaleX(1) scaleY(1) scaleZ(1);
        transform-origin: 50% 50% 0;
        left: 11px;
        top: -86px;

        &:after {

            display: block;
            z-index: auto;
            width: 1em;
            height: 3em;
            content: "";
            overflow: visible;
            border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
            position: relative;
            background-color: #8bc34a;
            transform: rotate(0deg) scaleX(1) scaleY(1) scaleZ(1);
            transform-origin: 50% 50% 0;
            left: 7px;
            top: 9px;
        }
    }
}