// Fonts
$font_primary: "Roboto";
$font_secundary: "Vidaloka";
$font_third: "Back";

// font-weight: 700; bold
// font-weight: 500; medium
// font-weight: 400; regular
// font-weight: 300; light

// Colors
$yellow_primary: #F6CD1F;
$gray_primary: #676769;
$green_primary: #94bb44;

$green_light: #d8ff00;
$blue_primary: #3f4b9b;
$orange_primary: #e87f1c;
$red_primary: #CC3333;